/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/************************ Body ************************/
#body-content {
    width: 100%;
}
/************************ END: Body ************************/

/************************ Navigation Bar ************************/
/* Normal/Shrink navbar */
.navbar {
    background-color: #FF5108;
    height: 50px;
}

.navbar-header .navbar-brand img {
    position: absolute;
    height: 25px;
    width: auto;
}

.navbar-header .navbar-brand img:last-child {
    opacity: 1;
}

.navbar-header .navbar-brand img:last-child {
    opacity: 0;
}

.navbar,
.navbar-header .navbar-brand img,
.navbar ul > li{
    -webkit-transition: all 0.2s ease-in-out;
       -moz-transition: all 0.2s ease-in-out;
         -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
}

.navbar .btn{
    margin-left:5px;
}

/* Bigger clear navbar*/
.navbar-grow {
    background: transparent;
    height: 100px;
    border-width: 0px;
}

.navbar-grow .navbar-header .navbar-brand img {
    height: 60px;
    width: auto;
}

.navbar-grow .navbar-header .navbar-brand img:last-child {
    opacity: 0;
}

.navbar-grow .navbar-header .navbar-brand img:last-child {
    opacity: 1;
}

.navbar-grow ul > li{
    padding-top: 20px;
}


/************************ END: Navigation Bar ************************/




/************************ Cover ************************/
.jumbotron {
    background-color: #4F4F4F;
    padding: 0px;
    height: 70vh;
    min-height: 300px;

    -webkit-transition: all 1s ease-in-out;
       -moz-transition: all 1s ease-in-out;
         -o-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out;
}

.jumbotron-hidden {
    min-height: 0px;
    height: 30px;
    -webkit-transform: translateY(-30px);
       -moz-transform: translateY(-30px);
         -o-transform: translateY(-30px);
            transform: translateY(-30px);
}

.jumbotron .container {
    padding: 0px;
    width: 100%;
    height: 100%;
    padding-bottom: 6px;
    background-color: #FF5108;
}

.featured_shots {
    width: 100%;
    height: 100%;
    background-color: #FFF;
}

.parallax_view {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden; 
}

.parallax_view .parallax_layer {
    width: 100%;
    height: 130%;
}

.slide-show-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.slide-show-img-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;

    -webkit-transition: all 2s ease-in-out;
       -moz-transition: all 2s ease-in-out;
         -o-transition: all 2s ease-in-out;
            transition: all 2s ease-in-out;
}

.slide-show-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}


.slide-show-img-show {
    opacity: 1;
}

.fronter {
    background: transparent;
    width: 100%;
    height: 200px;
    text-align: center;
    -webkit-transform: translateY(-120%);
       -moz-transform: translateY(-120%);
         -o-transform: translateY(-120%);
            transform: translateY(-120%);
}

.fronter h1 {
    color: #FF5108;
    text-shadow: 2px 2px 12px #000000;
}

.fronter h3 {
    color: #FFF;
    text-shadow: 2px 2px 4px #000000;
}
/************************ END: Cover ************************/


/************************ Panel ************************/
.rotate-90 {
    -webkit-transform: rotate(90.0deg);
       -moz-transform: rotate(90.0deg);
         -o-transform: rotate(90.0deg);
            transform: rotate(90.0deg);
}


.panel {
    border: 0px solid transparent
}

.panel-default>.panel-heading {
    color: #FF5108;
    background: transparent;
    border-color: #FF5108;
    padding: 10px 15px 0px 15px;
}

.panel-heading .btn-tool {
    position: relative;
    float: right;
}

/* ---- isotope ---- */
.grid * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
}

.grid {
    background: #FFF;
}

/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- .grid-item ---- */
.grid-sizer,
.grid-item {
    width: 33.33%;
}

.grid-item {
    float: left;
}

.grid-item img {
    display: block;
    max-width: 100%;
}


.grid-item .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
}

.grid-item .overlay .overlay-dimmer {
    position: absolute;
    top: -30px;
    right: 0px;
    bottom: -30px;
    left: 0px;
    opacity: 0;

    -webkit-transition: all 0.3s ease-in-out; 
       -moz-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;

    background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.2) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.2))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.2) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.2) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.2) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.2) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#33000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.grid-item .overlay .overlay-dimmer:hover {
    opacity: 1;
    top: 0px;
    bottom: 0px;
}

.grid-item .overlay .item-author {
    position: absolute;
    width: 100%;
    height: 25px;
    top: 4px;
    color: #FFF;
    padding: 2px 8px 2px 8px;
    text-align: right;
    text-shadow: 0px 0px 2px #000000;
     white-space: nowrap;
}

.grid-item .overlay .item-author span {
    padding-right: 8px;
}

.grid-item .overlay .item-author-img {
    float: right;
    height: 25px;
    width: 25px;
}

.grid-item .overlay .item-author-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-item .overlay .item-title {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 25px;
    bottom: 0;
    color: #FFF;
    padding: 2px 8px 2px 8px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
/************************ END: Panel ************************/


/************************ Login Panel ************************/
.view-port-max {
    width: 100%;
    min-height: 500px;
    height: -webkit-calc(100vh - 130px);
    height:    -moz-calc(100vh - 130px);
    height:         calc(100vh - 130px);

    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.view-port-center {
    display: inline-block;

    text-align: center;
    padding: 30px 30px 30px 30px;
    border-radius: 10px;

    border-color: rgba(255, 81, 8, 0.5);
    border-width: 1px;
    border-style: solid;

    -webkit-box-shadow: 2px 2px 5px 3px rgba(143, 143, 143, 0.1);
       -moz-box-shadow: 2px 2px 5px 3px rgba(143, 143, 143, 0.1);
            box-shadow: 2px 2px 5px 3px rgba(143, 143, 143, 0.1);

    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.login-button {
    position: relative;
    white-space: nowrap;
    text-align: left;
    height: 50px;
    width: 310px;
    cursor: pointer;
    border-style: solid;
    border-color: #DD4B39;
    border-width: 1px 1px 1px 0px;
    overflow: hidden;
    margin-bottom: 30px;
    -webkit-border-radius: 2px 8px 8px 2px;
       -moz-border-radius: 2px 8px 8px 2px;
            border-radius: 2px 8px 8px 2px;
}

.login-button:last-of-type {
    margin-bottom: 0px;
}

.login-icon {
    position: absolute;
    float: left;
    height: 100%;
    width: 50px;
    display: inline-block;

    -webkit-border-radius: 2px 0px 0px 2px;
       -moz-border-radius: 2px 0px 0px 2px;
            border-radius: 2px 0px 0px 2px;  
}

.login-button .text-label {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.75;
    padding-left: 70px;
    clip: rect(0px, 300px, 50px, 70px);

    -webkit-transition: left 0.2s ease-out, clip 0.2s ease-out;
       -moz-transition: left 0.2s ease-out, clip 0.2s ease-out;
         -o-transition: left 0.2s ease-out, clip 0.2s ease-out;
            transition: left 0.2s ease-out, clip 0.2s ease-out;
}

.login-button:hover .text-label {
    left: -240px;
    clip: rect(0px, 540px, 50px, 310px);
}

.label-content {
    position: relative;
    display: inline-block;
    width: 230px;
    margin: 10px 10px 10px 0px;
    font-size: 20px;
    text-align: center;
}

.plane-icon {
    top: 4px;
    -webkit-transform: rotate(270.0deg);
       -moz-transform: rotate(270.0deg);
         -o-transform: rotate(270.0deg);
            transform: rotate(270.0deg);
}

.gplus-button {
    border-color: #DD4B39;
}

.gplus-button .login-icon  {
    background: #DD4B39 url("images/g-plus-icon.png") no-repeat;
}

.gplus-button .label-content {
    color: #DD4B39;
    font-family: 'Roboto', sans-serif;
}

.fb-button {
    border-color: #4C69BA;
}

.fb-button .login-icon  {
    background: #4C69BA url("images/fb-icon.png") no-repeat;
}

.fb-button .label-content {
    color: #4C69BA;
    font-family: helvetica, arial, sans-serif;
    font-weight: bold;
}

/*font-family: helvetica, arial, sans-serif;*/

/************************ END: Login Panel ************************/

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
