/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#entire-page-wrapper {
    min-height: 100vh;
    height: auto !important;
    /*height: 100vh;*/
    /* Negative indent footer by its height */
    margin: 0 auto -40px;
    /* Pad bottom by footer height */
    padding: 0 0 40px;
}

.view-port-max {
    width: 100%;
    overflow: auto;
    /* Offset navbar height and footer height*/
    height: -webkit-calc(100vh - 90px);
    height:    -moz-calc(100vh - 90px);
    height:         calc(100vh - 90px);

    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.view-port-center {
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

/************************ Footer ************************/
#page-footer {
    height: 40px;
    background-color: #F5F5F5;
    overflow: hidden;
    -webkit-transition: all 0.5s ease-in-out;
       -moz-transition: all 0.5s ease-in-out;
         -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
}

#page-footer.footer-hidden {
    opacity: 0;
}

#page-footer > .container {
    padding-top: 12px;
}

/************************ END: Footer ************************/


/************************ Body ************************/
#body-content {
    position: relative;
    width: 100%;
}
/************************ END: Body ************************/

/************************ Navigation Bar ************************/
/* Normal/Shrink navbar */
.navbar {
    background-color: #FF5208;
    height: 50px;
}

.navbar-header .navbar-brand img {
    position: absolute;
    height: 25px;
    width: auto;
}

.navbar-header .navbar-brand img:first-child {
    opacity: 1;
}

.navbar-header .navbar-brand img:last-child {
    opacity: 0;
}

/* Nav bar buttons*/
.navbar-nav>li>a.nav-a-btn {
    cursor: pointer;
    color: #FF5208;
    background-color: #FFF;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: #FFD3C1;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 4px;
    white-space: nowrap;
    overflow: hidden;
}

.navbar-nav>li>a.nav-a-btn:hover {
    background-color: #FFD3C1;
    border-color: #FF8B5A;
    color: #FF5208;
}

.navbar-grow .navbar-nav>li>a.nav-a-btn {
    margin-top: 16px;
    -webkit-box-shadow: 6px 6px 16px -1px rgba(0,0,0,0.5);
       -moz-box-shadow: 6px 6px 16px -1px rgba(0,0,0,0.5);
            box-shadow: 6px 6px 16px -1px rgba(0,0,0,0.5);
}

/* Upload Button */
.navbar-default .navbar-nav>li>a.btn-upload {
    color: #FFF;
    background-color: #05AE6A;
    border-color: #B0E8D2;
}

.navbar-default .navbar-nav>li>a.btn-upload:hover {
    background-color: #43BD8C;
    border-color: #B0E8D2;
}

.navbar-grow .navbar-nav>li>a.btn-upload {
    background-color: #FF5208;
    border-color: #FF8B5A;
}

.navbar-grow .navbar-nav>li>a.btn-upload:hover {
    background-color: #FF8B5A;
    border-color: #FFD3C1;
}

/* User Button */
.navbar-nav>li>a.btn-user {
    color: #FFF;
    padding-top: 5px;
    padding-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
}

.navbar-nav > li .user-img {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
}

.navbar-nav > li .user-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar-grow .navbar-nav>li>a.btn-user {
    color: #FFF;
    margin-top: 11px;
    height: 60px;
    -webkit-filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
       -moz-filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
            filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
}

.navbar-grow .navbar-nav>li>a.btn-user:hover {
    color: #FF5208
}

/* Hidden nav bar button */
.navbar-nav > li  a.nav-a-btn-hidden {
    width: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border-left: 0px;
    border-right: 0px;
}

.navbar,
.navbar-header .navbar-brand img {
    -webkit-transition: all 0.2s ease-in-out;
       -moz-transition: all 0.2s ease-in-out;
         -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
}

.navbar ul > li,
.navbar ul > li > a {
    -webkit-transition: margin 0.2s ease-in-out, width 0.2s ease-in-out, padding 0.2s ease-in-out, border 0.2s ease-in-out;
       -moz-transition: margin 0.2s ease-in-out, width 0.2s ease-in-out, padding 0.2s ease-in-out, border 0.2s ease-in-out;
         -o-transition: margin 0.2s ease-in-out, width 0.2s ease-in-out, padding 0.2s ease-in-out, border 0.2s ease-in-out;
            transition: margin 0.2s ease-in-out, width 0.2s ease-in-out, padding 0.2s ease-in-out, border 0.2s ease-in-out;
}


/* Bigger clear navbar*/
.navbar-grow {
    background: transparent;
    height: 100px;
    border-width: 0px;
}

.navbar-grow .navbar-header .navbar-brand img {
    height: 60px;
    width: auto;
}

.navbar-grow .navbar-header .navbar-brand img:first-child {
    opacity: 0;
}

.navbar-grow .navbar-header .navbar-brand img:last-child {
    opacity: 1;
}

/************************ END: Navigation Bar ************************/

/************************ Cover ************************/
.jumbotron {
    background-color: #4F4F4F;
    padding: 0px;
    height: 70vh;
    min-height: 300px;
    margin-bottom: 0px;

    -webkit-transition: all 1s ease-in-out;
       -moz-transition: all 1s ease-in-out;
         -o-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out;
}

.jumbotron-hidden {
    min-height: 0px;
    height: 0px;
    /* Offset margin bottom to navbar height */
    margin-bottom: 50px;
    -webkit-transform: translateY(-30px);
       -moz-transform: translateY(-30px);
         -o-transform: translateY(-30px);
            transform: translateY(-30px);
}

.jumbotron .container {
    padding: 0px;
    width: 100%;
    height: 100%;
    padding-bottom: 6px;
    background-color: #FF5208;
}

.featured_shots {
    width: 100%;
    height: 100%;
    background-color: #FFF;
}

.parallax_view {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden; 
}

.parallax_view .parallax_layer {
    width: 100%;
    height: 130%;
}

.slide-show-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.slide-show-img-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;

    -webkit-transition: all 2s ease-in-out;
       -moz-transition: all 2s ease-in-out;
         -o-transition: all 2s ease-in-out;
            transition: all 2s ease-in-out;
}

.slide-show-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}


.slide-show-img-show {
    opacity: 1;
}

.fronter {
    background: transparent;
    width: 100%;
    height: 200px;
    text-align: center;
    -webkit-transform: translateY(-120%);
       -moz-transform: translateY(-120%);
         -o-transform: translateY(-120%);
            transform: translateY(-120%);
}

.fronter h1 {
    color: #FF5208;
    text-shadow: 2px 2px 12px #000000;
}

.fronter h3 {
    color: #FFF;
    text-shadow: 2px 2px 4px #000000;
}
/************************ END: Cover ************************/

/************************ Category Panel ************************/
.category-panel {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.category-panel-absolute {
    position: absolute;
}

.category-panel .category-heading {
    border-style: solid;
    border-color: #FF5208;
    border-width: 0px 0px 1px 0px;
    padding: 1px;
}

.category-panel .btn-heading {
    background: transparent;
    font-weight: bold;
    font-size: 26px;
    color: #FF5208;
    padding: 0px;
    
}

.category-panel .btn-tool {
   float: right;
   padding-top: 7px;
}

.category-panel .btn-tool:hover {
    opacity: 0.8;
}

.category-panel .dropdown-menu > li > a:focus,
.category-panel .dropdown-menu > li > a:hover {
    background-color: #FFD3C1;
}

.category-panel .dropdown-menu > .active > a, 
.category-panel .dropdown-menu > .active > a:focus,
.category-panel .dropdown-menu > .active > a:hover {
    background-color: #FF8B5A;
}

.category-panel .no-items {
    text-align: center;
    padding: 60px;
    color: #FF8B5A;
    font-size: 20px;
}
/************************ END: Category Panel ************************/

/************************ Panel ************************/
.rotate-90 {
    -webkit-transform: rotate(90.0deg);
       -moz-transform: rotate(90.0deg);
         -o-transform: rotate(90.0deg);
            transform: rotate(90.0deg);
}


.panel {
    border: 0px solid transparent
}

.panel-default>.panel-heading {
    color: #FF5208;
    background: transparent;
    border-color: #FF5208;
    padding: 10px 15px 0px 15px;
}

.panel-heading .btn-tool {
    position: inline-block;
    float: right;
}

/* ---- isotope ---- */
.grid * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
}

.grid {
    background: #FFF;
}

/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- .grid-item ---- */
.grid-sizer,
.grid-item {
    width: 33.33%;
}

@media (min-width: 992px) {
    .grid-sizer,
    .grid-item {
        width: 25%;
    }
}

.grid-item {
    float: left;
}

.grid-item img {
    display: block;
    max-width: 100%;
}


.grid-item .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
}

.grid-item .overlay .overlay-dimmer {
    position: absolute;
    top: -30px;
    right: 0px;
    bottom: -30px;
    left: 0px;
    opacity: 0;

    -webkit-transition: all 0.3s ease-in-out; 
       -moz-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;

    background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.2) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.2))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.2) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.2) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.2) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.2) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#33000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.grid-item .overlay .overlay-dimmer:hover {
    opacity: 1;
    top: 0px;
    bottom: 0px;
}

.grid-item .overlay .item-author {
    position: absolute;
    width: 100%;
    height: 25px;
    top: 4px;
    color: #FFF;
    padding: 2px 8px 2px 8px;
    text-align: right;
    text-shadow: 0px 0px 2px #000000;
     white-space: nowrap;
}

.grid-item .overlay .item-author span {
    padding-right: 8px;
}

.grid-item .overlay .item-author-img {
    float: right;
    height: 25px;
    width: 25px;
}

.grid-item .overlay .item-author-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-item .overlay .item-title {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 25px;
    bottom: 0;
    color: #FFF;
    padding: 2px 8px 2px 8px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
/************************ END: Panel ************************/


/************************ Login Panel ************************/
.shadowed-box {
    padding: 60px 60px 60px 60px;
    border-radius: 10px;
    border-color: rgba(255, 81, 8, 0.5);
    border-width: 1px;
    border-style: solid;
    -webkit-box-shadow: 2px 2px 5px 3px rgba(143, 143, 143, 0.1);
       -moz-box-shadow: 2px 2px 5px 3px rgba(143, 143, 143, 0.1);
            box-shadow: 2px 2px 5px 3px rgba(143, 143, 143, 0.1);
}

.login-button {
    position: relative;
    white-space: nowrap;
    text-align: left;
    height: 50px;
    width: 310px;
    cursor: pointer;
    border-style: solid;
    border-color: #DD4B39;
    border-width: 1px 1px 1px 0px;
    overflow: hidden;
    margin-bottom: 40px;
    -webkit-border-radius: 3px 8px 8px 3px;
       -moz-border-radius: 3px 8px 8px 3px;
            border-radius: 3px 8px 8px 3px;
}

.login-button:last-of-type {
    margin-bottom: 0px;
}

.login-icon {
    position: absolute;
    float: left;
    height: 100%;
    width: 50px;
    display: inline-block;

    -webkit-border-radius: 3px 0px 0px 3px;
       -moz-border-radius: 3px 0px 0px 3px;
            border-radius: 3px 0px 0px 3px;  
}

.login-button .text-label {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.75;
    padding-left: 50px;

    -webkit-transition: left 0.2s ease-out, clip 0.2s ease-out;
       -moz-transition: left 0.2s ease-out, clip 0.2s ease-out;
         -o-transition: left 0.2s ease-out, clip 0.2s ease-out;
            transition: left 0.2s ease-out, clip 0.2s ease-out;
}

.label-content {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 10px 0px 10px 0px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
}

.plane-icon {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    height: 20px;
    width: 0px;
    -webkit-transform: translateY(3px);
       -moz-transform: translateY(3px);
            transform: translateY(3px);

    -webkit-transition: width 0.2s ease-out;
       -moz-transition: width 0.2s ease-out;
         -o-transition: width 0.2s ease-out;
            transition: width 0.2s ease-out;
}
.plane-icon span {
    float: right;
    -webkit-transform: rotate(90.0deg);
       -moz-transform: rotate(90.0deg);
         -o-transform: rotate(90.0deg);
            transform: rotate(90.0deg);
}

.login-button:hover .login-icon {
    opacity: 0.9;
}

.login-button:hover .plane-icon {
    width: 25px;
}

.login-button[disabled] {
    pointer-events: none;
    opacity: 0.3;
}

.gplus-button {
    border-color: #DD4B39;
}

.gplus-button .login-icon  {
    background: #DD4B39 url("images/g-plus-icon.png") no-repeat;
}

.gplus-button .label-content {
    color: #DD4B39;
    font-family: 'Roboto', sans-serif, arial;
}

.fb-button {
    border-color: #3B579D;
}

.fb-button .login-icon  {
    background: #3B579D url("images/fb-icon.png") no-repeat;
}

.fb-button .label-content {
    color: #3B579D;
    font-family: helvetica, arial, sans-serif;
    font-weight: bold;
}

/************************ END: Login Panel ************************/

/************************ Upload Panel ************************/
.image-drop-container {
    position: relative;
    width: 100%;
    height: 60vh;
    margin-top: 10px;
}

.image-drop-container .image-drop-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    pointer-events: none;
}

.image-drop-overlay .image-drop-msg {
    display: inline-block;

    position: relative;
    top: 50%;
    left: 50%;
    text-align: center;
    color: #FF5208;
    font-size: 20px;
    font-weight: bold;
    background-color: #FFF;
    padding: 20px;
    border-style: dashed;
    border-width: 5px;
    border-radius: 5px;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.image-drop-container:hover .image-drop-overlay {
    opacity: 0.8;
}

.image-drop-container .imagedropzone {
    position: absolute;
    cursor: pointer;
    border-radius: 5px;
    background-color: #FFD3C1;
    width: 100%;
    height: 100%;
}

.item-user-inputs  > div:last-of-type > div:last-of-type {
   margin-top: 25px;
}

.item-user-inputs  > div:last-of-type > div:last-of-type button {
   margin-bottom: 15px;
}

.item-user-inputs input {
    color: #FF5208;
}

.itm-upl-progress {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    height: 4px;
}

.itm-upl-progress .progress-bar {
    background-color: #FF5208;
}

.upload-in-progress {
    pointer-events: none;
    cursor: wait;
    opacity: 0.2;
}

/************************ END: Upload Panel ************************/

/************************ Item View Panel ************************/

.item-view-panel {
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}

.itm-v-img {
    background-color: #4C4C4C;
    padding: 0px;
}

.itm-v-img-wrap {
    width: 100%;
    height: 100%;
    background-color: red;
    overflow: visible;
}

.itm-v-img img {
    max-width: 100%;
    max-height: 100%;

    position: relative;

    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
            transform: translateX(-50%);
}

.itm-v-detail {
    background-color: #ECECEC;
    padding: 10px;
    overflow: auto;
}

.itm-v-detail .itm-v-btns {
    text-align: right;
    margin-bottom: 10px;
}

.itm-v-detail .media {
    margin-top: 0px;
    padding-bottom: 10px;
}

.itm-v-detail > a {
    color: inherit;
}

.itm-v-detail .media-object {
    height: 35px;
    width: 35px;
}

.itm-v-detail .media-heading {
    color: #FF5208;
}

.itm-v-detail .media-body small{
    color: #9A9A9A;
}

.itm-v-detail h4 {
    color: #FF5208;
    padding-top: 16px;
}

.itm-v-detail h4 small {
    white-space: nowrap;
}

.itm-v-detail p {
    font-size: 12px;
}

@media (min-width: 768px) {
    .itm-v-img,
    .itm-v-detail {
        height: -webkit-calc(100vh - 110px);
        height:    -moz-calc(100vh - 110px);
        height:         calc(100vh - 110px);
    }

    .itm-v-img img {
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
           -moz-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }
}
/************************ END: Item View Panel ************************/

/************************ Item Delete Panel ************************/
.delete-panel {
    overflow: hidden;
}

.delete-panel .shadowed-box {
    padding: 10px 10px 10px 10px;
    width: 520px;
}

.delete-panel .row > div:first-child {
    padding-right: 5px;
}

.delete-panel .row > div:first-child img {
    max-width: 100%;
    height: auto;
}

.delete-panel .row > div:last-child {
    padding-left: 5px;
}

.delete-panel .row > div:last-child h4 {
     color: #FF5208;
}

.delete-panel .row > div:last-child h4 big {
    color: #05AE6A;
}

.delete-panel .row > div:last-child p {
    font-size: 12px;
}

.delete-panel .row > div:last-child div {
    float: right;
}

.delete-panel .row > div:last-child div button {
    width: 150px;
}

/************************ END: Item Delete Panel ************************/

.btn-default {
    color: #FF5208;
    border-color: #FF5208;
}

.btn-default:hover {
    color: #FF5208;
    border-color: #FF5208;
    background-color: #FFD3C1;
}

.btn-primary {
    background-color: #FF5208;
    border-color: #AE3400;
}

.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #AE3400;
  border-color: #AE3400;
}

.btn-primary:hover {
  color: #fff;
  background-color: #FF8B5A;
  border-color: #AE3400;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #AE3400;
  border-color: #AE3400;
}

.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #AE3400;
  border-color: #AE3400;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #FFD3C1;
  border-color: #FF8B5A;
}

.btn-primary .badge {
  color: #337ab7;
  background-color: #fff;
}


.page-footer {
    font-family: 'Roboto', sans-serif, arial;
}

.flash-message {
    background-color: #FFF3A5;
    position: fixed;
    top: 70px;
    width: 80vw;
    z-index: 10000;
    left: 50%;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    border-color: #AE3400;
    border-width: 1px;
    border-style: solid;
    color: #4E1700;
    opacity: 0.9;
    display: none;

    -webkit-transform: translateX(-50%);
           -moz-transform: translateX(-50%);
                transform: translateX(-50%);
}

.flash-msg-error {
    color: #FFF;
    background-color: #D9534F;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
