<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Travel Shot</title>
        <meta name="description" content="Travel photo sharing">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="csrf-token" content="{{ csrf_token() }}">

        <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap/3.3.5/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script src="{{ url_for('static', filename='lib/modernizr/2.8.3/modernizr.min.js') }}"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <nav class="navbar navbar-default navbar-fixed-top navbar-grow">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ts-navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="#">
                        <img alt="Travel Shot" src="{{ url_for('static', filename='images/travelshot-logo.png') }}">
                        <img alt="Travel Shot" src="{{ url_for('static', filename='images/travelshot-logo_2.png') }}">
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="ts-navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><button id="upload" type="button" class="btn btn-default navbar-btn">Share a Shot</button></li>
                        <li><button id="signin" type="button" class="btn btn-default navbar-btn">Sign in</button></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <!-- <div class="jumbotron">
            <div class="container">
                <div class="featured_shots">
                    <div class="slideshow">
                        <img src="{{ url_for('static', filename='images/cover_1.jpg') }}">
                        <img src="{{ url_for('static', filename='images/cover_2.jpg') }}">
                        <img src="{{ url_for('static', filename='images/cover_3.jpg') }}">
                    </div>
                </div>
                <div class="fronter">
                    <h1>Travel Sh[O]t</h1>
                    <h3>See the world through the eyes of a local.</h3>
                </div>
            </div>
        </div> -->

        <div class="container" id="body-content">
        <!-- Example row of columns -->
           <!--  <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Asia <small>See more <span class="glyphicon glyphicon-plane rotate-90" aria-hidden="true"></span> </small><a class="btn-tool" href="javascript:void(0);"><img src="{{ url_for('static', filename='images/rss_button.png') }}"></a></h2>
                </div>
                <div class="panel-body">
                    
                    <div class="grid">
                      <div class="grid-sizer"></div>

                      <div class="grid-item">
                        <div class="overlay">
                            <div class="overlay-dimmer">
                                <div class="item-author">
                                    <span><small>by:</small> Juan Esteban</span>
                                    <div class="item-author-img">
                                         <img class="img-circle" src="https://lh5.googleusercontent.com/-YXQIZO89UHg/AAAAAAAAAAI/AAAAAAAAAJE/KJFqVjwcaAU/photo.jpg" />
                                    </div>
                                </div>

                                <div class="item-title">Very very very very looooooooooooonnnngggg Title goes here</div>
                            </div>
                        </div>
                        <img src="http://i.imgur.com/bwy74ok.jpg" />
                      </div>

                      <div class="grid-item">
                        <img src="http://i.imgur.com/bAZWoqx.jpg" />
                      </div>
                      <div class="grid-item">
                        <img class="img-circle" src="http://i.imgur.com/PgmEBSB.jpg" />
                      </div>
                      <div class="grid-item">
                        <img src="http://i.imgur.com/aboaFoB.jpg" />
                      </div>
                      <div class="grid-item">
                        <img src="http://i.imgur.com/LkmcILl.jpg" />
                      </div>
                      <div class="grid-item">
                        <img src="http://i.imgur.com/q9zO6tw.jpg" />
                      </div>
                      <div class="grid-item">
                        <img src="http://i.imgur.com/r8p3Xgq.jpg" />
                      </div>
                      <div class="grid-item">
                        <img src="http://i.imgur.com/hODreXI.jpg" />
                      </div>
                      <div class="grid-item">
                        <img src="http://i.imgur.com/UORFJ3w.jpg" />
                      </div>
                      <div class="grid-item" style="background-color: {$ background $}; color: {$ color $}; height: 100px">
              Hello World!
          </div>
                    </div>

                </div>
            </div>

            <hr>

            <footer>
                <p>&copy; Company 2014</p>
            </footer> -->
        </div> <!-- /container -->
        
        <template id="panel-template">
            <div class="panel panel-default">
              <div class="panel-heading">
                    <h2>{$ title $} <small>See more <span class="glyphicon glyphicon-plane rotate-90" aria-hidden="true"></span> </small><a class="btn-tool" href="javascript:void(0);"><img src="{{ url_for('static', filename='images/rss_button.png') }}"></a></h2>
                </div>
                <div class="panel-body">
                  <div class="grid" data-sg-portal="item_list">
                      <div class="grid-sizer"></div>
                  </div>
                </div>
            </div>
        </template>

        <template id="grid-item-template">
          <div class="grid-item">
            <div class="overlay">
                <div class="overlay-dimmer">
                    <div class="item-author">
                        <span><small>by:</small> Juan Esteban</span>
                        <div class="item-author-img">
                             <img class="img-circle" src="https://lh5.googleusercontent.com/-YXQIZO89UHg/AAAAAAAAAAI/AAAAAAAAAJE/KJFqVjwcaAU/photo.jpg" />
                        </div>
                    </div>

                    <div class="item-title">Very very very very looooooooooooonnnngggg Title goes here</div>
                </div>
            </div>
            <img data-sg-attr-bind="src: image_url" data-sg-portal="item_image" />
          </div>
        </template>

        <template  id="grid-item-templateXXX">
          <div class="grid-item" style="background-color: {$ background $}; color: {$ color $}; min-height: 100px">
              First name: {$ user.firstName $} <br />
              Last name: {$ user.lastName $} <br/>
              <br />
              <div>
              Hello <strong>{$ user.fullName $}</strong>!
              <img data-sg-attr-bind="src: item.image_url" />
            </div>
          </div>
        </template>

         <!-- Scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='lib/jquery/2.1.4/jquery.min.js') }}"><\/script>')</script>
        <script src="{{ url_for('static', filename='lib/bootstrap/3.3.5/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/isotope/2.2.1/isotope.pkgd.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/segue/0.0.1/segue.js') }}"></script>
        <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>


        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-66158035-1', 'auto');
          ga('send', 'pageview');
        </script>
    </body>
</html>
